<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <title>{{ page.title }}</title>
    {% if page.extra_css %}
    <link rel="stylesheet" href="{{ page.extra_css }}">
    {% endif %}
</head>
<body class="light-mode">
    <div class="cursor-dot"></div>
    
    {% include header.html home_active=page.home_active blog_active=page.blog_active cv_active=page.cv_active research_active=page.research_active %}

    {{ content }}

    {% include footer.html %}
    
    {% if page.extra_js %}
    <script src="{{ page.extra_js }}"></script>
    {% endif %}
</body>
</html> 